* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #59656F;
}

body {
    font-family: Inter;
}

fieldset {
    border: none;
}

input {
    background-color: #1E1E1E;
    border-radius: 30px;
    color: white;
    font-size: 2.9rem;
    padding-left: 2rem;
    height: 7vh;
}

label,
p {
    padding-left: 2rem;
    font-size: 2.3rem;
}

a {
    text-decoration: none;
    color: white;
}

span {
    background-color: blue;
}

button, 
.button {
    height: 8rem;
    width: 20%;
    background-color: #1E1E1E;
    border-radius: 30px;
    color: white;
    font-size: 2.9rem;
    transition: all 300ms ease-in-out;
}

button:hover,
.button:hover {
    cursor: pointer;
    background-color: #3d3d3d;
}

.section {
    height: 100vh;
}

.competitor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.name {    
    padding-top: 2vh;
    display: grid;
    justify-content: center;
}

.name input{
    width: 30vw;
}

.result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-radius: 10px;
    background-color: #1E1E1E;
    color: white;
}

.result span:first-child {
    margin-left: .5rem;
    background-color: red;
}

.result span:last-child{
    background-color: green;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grades {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
    height: 70vh;
}

.grades input {
    width: 95%;
}

.referees, .form{
    display: grid;
    margin: 0 5vw;
}

.grade div {
    display: grid;
    justify-content: center;
    padding-top: 5%;
}

.referees label{
    padding-top: 5%;
}

.grade{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 0 5vw;
}

.actions > button {
    margin-left: 5vw;
}

.actions div {
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

.actions button:last-child {
    width: 40%;
    align-items: center;
}

.actions button:first-child {
    height: 50%;
}

.button {
    padding: 2rem;
    text-align: center;
}

button:disabled{
    cursor: auto;
    background-color: #3d3d3d;
    color: rgb(126, 126, 126)
}