* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1 {
    font-size: 30rem;
    color: white;
}

h3 {
    font-size: 10rem;
}

body {
    font-family: Arial, sans-serif;
}

.section {
    height: 100vh;
}

.main-content {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80vh 15vh;
    margin: 2vh auto;
    max-width: 95vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.referees {
    grid-row: span 2;
    font-size: 6rem;
}

.tempReferees {
    width: 98%;
    height: 100%;
}

.referee {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 0.5rem;
    margin-top: .5rem;
}

.referee .name{
    font-size: 4rem;
    background-color: lightgray;
}

.referee .grade{
    background-color: blue;
    color: white;
}

.referee .accuracy{
    background-color: red;
}

.score {
    grid-column: span 2;
    background-color: green;
}

.accuracyAvg {
    background-color: red;
}

.gradeAvg {
    background-color: blue;
    color: white;
}